{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">Blog</li>
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <h1>Archives</h1>
        <div id="archives">
            {% for article in dates %}
                <article>
                  <p>
                  <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> </span>
                  <b><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a></b>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                        <div class="well well-sm">
                            {% include "includes/article_info.html" %}
                        </div>
                    {% endif %}
                    <div class="summary">{{ article.summary }}
                        {% include 'includes/comment_count.html' %}
                        <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more...</a>
                    </div>
                  </p>
                </article>
                <hr/>
            {% endfor %}
        </div>
    </section>
{% endblock %}
