{% extends "article_list.html" %}

{% block canonical_rel %}<link rel="canonical" href="{{ SITEURL }}">{% endblock %}

{% block banner %}
	{% include 'includes/banner.html' %}
{% endblock %}

{% block content %}
	<style>
	/* Disable navbar margin */
	.navbar {
		margin-bottom:0;
	}
	/* Carousel base class */
	.carousel {
		height: 500px;
		margin-bottom: 60px;
		padding-top:0;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
		z-index: 10;
		text-align: left;
	}
	/* Declare heights because of positioning of img element */
	.carousel .item {
		height: 500px;
	}

	.carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 500px;
	}
	.carousel-control.left, .carousel-control.right {
		background-image: none
	}
	.carousel-caption, .carousel-control.left,  .carousel-control.right {
		color: #333;
		text-shadow: none target="_blank";
	}
	</style>
		<div class="col-md-3">
      <img alt="Fred Blain profile picture" class="pull-left img-rounded margin-t20 margin-r30" src="/images/profile/fredblain.jpg" style="width: 200px;">
    </div>

		<div class="col-md-8">
      <h1>Frédéric Blain</h1>
      <h3>Assistant Professor in AI</h3>
      <h4><a href="https://www.tilburguniversity.edu/" target="_blank">Tilburg University</a>, NL</h4>

      <div class=spacer></div>
      
      <p>
        I am an Assistant Professor at <a href="https://www.tilburguniversity.edu/" target="_blank">Tilburg University</a> in The Netherlands, affiliated to the <a href="https://csai.nl" target="_blank">Department of Cognitive Science and Artificial Intelligence</a> led by <a href="https://www.linkedin.com/in/marie-postma-722577216/" target="_blank">Dr Marie Postma</a>.
      </p>
      <p>Prior to joining Tilburg, I was a Senior Lecturer in NLP and Translation Technology at the <a href="https://wlv.ac.uk" target="_blank">University of Wolverhampton</a>, member of and co-head of teaching for the <a href="https://www.wlv.ac.uk/research/institutes-and-centres/riilp---research-institute-in-information-and-lan/research-group-of-computational-linguistics/" target="_blank">Research Group on Computational Linguistics (RGCL)</a>, affiliated to the <a href="http://www.wlv.ac.uk/riilp" target="_blank">Research Institute of Information and Language Processing (RIILP)</a> led by <a href="https://www.linkedin.com/in/ruslan-mitkov-a610652/" target="_blank">Prof Ruslan Mitkov</a>.
      </p>
      <p>
        Before becoming an academic, I was a research associate in Machine Translation in <a href="https://www.linkedin.com/in/lspecia/" target="_blank">Prof. Lucia Specia</a>'s group at the <a href="https://shef.ac.uk" target="_blank">University of Sheffield</a>.
        I worked on discriminative training algorithms for Statistical Machine Translation and continuous adaptation from post-editing workflow within the scope of the EU H2020 <a href="http://qt21.eu" target="_blank">QT21 project</a>.
        I then turned to Quality Estimation for Machine Translation, a topic I have been working on since, in close collaboration with Lucia Specia.
        Together, we successfully secured several research grants (an <a href="https://ara.amazon-ml.com/recipients/index.html#2016" target="_blank">Amazon Research Award grant</a>, an <a href="http://www.eamt.org/sponsored-projects.php" target="_blank">EAMT grant</a> and <a href="https://browser.mt" target="_blank">Bergamot</a>, an EU H2020 project), leading to many publications and <a href="https://github.com/sheffieldnlp/deepQuest" target="_blank">DeepQuest</a>, the first open-source toolkit for quality estimation for neural-based Machine Translation.
      </p>
      <p>
        I hold a PhD in Computer Science from <a href="http://www.univ-lemans.fr/en" target="_blank">Le Mans Université</a> (France), which I defended in 2013.
        As a PhD student, I worked on post-editing, continuous adaptation as well as domain and project adaptations for Machine Translation under the supervision of <a href="https://fr.linkedin.com/pub/holger-schwenk/24/304/b37/fr" target="_blank"> Holger Schwenk</a> (Facebook) and <a href="https://fr.linkedin.com/in/jeansenellart" target="_blank">Jean Senellart</a> (Systran).
        I pursued my PhD work as a postdoctoral researcher at <a href="http://lium.univ-lemans.fr/en" target="_blank">LIUM</a>, the Computer Science Laboratory of Le Mans Université, by joining the EU FP7 <a href="http://www.matecat.com" target="_blank">MateCAT project</a>.
        I also have experience in industry having held a research engineer position at <a href="https://www.systransoft.com" target="_blank">Systran</a> during my PhD.
      </p>
      <p>
        More details can be found in my <a href="{{ SITEURL }}/static/docs/cv/FredBlain_CV.pdf" target="_blank">CV</a> and <a href="https://scholar.google.fr/citations?user=sgBANaQAAAAJ" target="_blank">list of publications</a>. 
      </p>
      
      <div class=spacer>&nbsp;</div>

      <ul class=contact_links>
        <li><a href="https://twitter.com/fblain"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://scholar.google.fr/citations?user=sgBANaQAAAAJ"><i class="fa fa-google" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/fredblain"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://bitbucket.org/fredblain/"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
        <li><a href="https://uk.linkedin.com/in/fredblain"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        {# <li class=mail_address><a href="mailto:f.blain%20[at]%20wlv%20[dot]%20ac.uk?Subject=[Contact]%20"><i class="fa fa-envelope" aria-hidden="true"></i></a></li> #}
      </ul>

    </div>

		<div class="col-md-3">
    </div>

		<div class="col-md-8">
      <h3>Latest updates</h3>

      {% if articles %}
      {% for article in dates[:5] %}
      <p>
        <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %}{% endif %}</a>
      </p>
      {% endfor %}
      {% endif %}
		
      <div class=spacer>&nbsp;</div>
      <h3>Contact</h3>
      <div class="col-md-5">
        <b>Email:</b><br />
        <a href="mailto:f.l.g.%20[dot]%20blain%20[at]%20tilburguniversity%20[dot]%20edu?Subject=[Contact]%20">f.l.g [dot] blain [at] tilburguniversity [dot] edu</a>
        <div class=spacer></div>
        <b>Phone:</b><br />
        +31 13 466 8118 / +31 13 466 3563 <br />
        <div class=spacer></div>
      </div>
      <div class="col-md-7">
        <b>Address:</b><br />
        Department of Cognitive Science and Artificial Intelligence <br />
        Tilburg University <br />
        Dante Building room D 155 (first floor) <br />
        Warandelaan 2 <br />
        5037 AB Tilburg <br />
        The Netherlands <br />
      </div>
		</div>

    <div class=spacer>&nbsp;</div>

{% endblock %}

{% block scripts %}
{% endblock %}

