<ul>
{% for p in publications %}
  <li><strong>{% if p.link %}<a href="{{p.link}}">{{p.title}}</a>{% else %}{{p.title}}{% endif %}</strong><br />
    {% for a_l,a_f in p.author %}{% if a_l == "Blain" %}<b>FB</b>, {% else %}{{a_f}} {{a_l}}, {% endif %}{% endfor %}
	  {% if p.booktitle %} in <em>{{p.booktitle|replace('{','')|replace('}','')}}</em>
		{% else %}
		  {% if p.journal %} on <em>{{p.journal|replace('{','')|replace('}','')}}</em>.{% endif %}
		{% endif %}
		{% if p.year %} {{p.year}}{% endif %}
	</li>
  &nbsp;
{% endfor %}
</ul>
